$color-first: #173a56;
$color-second: #22343d;
$color-third: #bcd0e5;
$color-fourth: #02897a;
$color-fifth: rgba(34, 52, 61, 1);
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: Poppins, sans-serif;
  header {
    padding: 20px 0;
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        align-items: center;
        gap: 16px;
        span {
          font-size: 30px;
          color: $color-first;
        }
      }
      &-links {
        display: flex;
        align-items: center;
        gap: 24px;
        .sign {
          padding: 10px 23px;
          font-weight: 600;
          border-radius: 6px;
          cursor: pointer;
          &.in {
            border: 1px solid $color-third;
            color: $color-first;
            background: #fff;
          }
          &.up {
            border: 1px solid $color-fourth;
            color: #fff;
            background: $color-fourth;
          }
        }
        .btn-dark {
          background: transparent;
          border: 0;
          cursor: pointer;
        }
      }
      &-link {
        font-size: 16px;
        color: $color-second;
      }
    }
  }

  main {
    .hero {
      padding: 25px 0;
      &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-text {
        color: $color-second;
        h1 {
          font-size: 40px;
          font-weight: 900;
          margin-bottom: 18px;
        }
        p {
          font-size: 18px;
          margin-bottom: 45px;
        }
      }
      &-btns {
        display: flex;
        align-items: center;
        gap: 30px;
        button {
          padding: 10px 23px;
          font-weight: 600;
          border-radius: 6px;
          cursor: pointer;
          border: 1px solid $color-fourth;
          color: #fff;
          background: $color-fourth;
        }
        a {
          display: flex;
          align-items: center;
          gap: 8.5px;
          span {
            color: $color-fourth;
            font-weight: 600;
            line-height: 24px;
            border-bottom: 2px solid $color-fourth;
          }
        }
      }
      &-img {
      }
    }
    .sign-up-now {
      background: url(../images/background\ image\ shadow.png);
      background-repeat: no-repeat;git in
      background-size: cover;
      background-position: center;
      h1 {
        font-family: Poppins, sans-serif;
        color: $color-fifth;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 66px;
        padding-top: 114px;
      }
      h3 {
        color: $color-fifth;
        font-family: Poppins, sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 13px;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: $color-fifth;
        width: 240px;
        height: 52px;
        top: 46px;
      }
      .sign-up-now-content {
        .all-icon-and-texts {
          display: flex;
          justify-content: space-between;
          gap: 46px;
        }
      }
      .sign-up-now-btn {
        padding: 10px 23px;
        font-weight: 600;
        border-radius: 9px;
        cursor: pointer;
        border: 1px solid $color-fourth;
        color: #fff;
        background: $color-fourth;
        margin-top: 60px;
        margin-bottom: 90px;
        margin-left: 474px;
      }
    }
  }
}

footer {
}
